html {font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, 'Open Sans', sans-serif;}
body {margin: 0; padding: 0 2.5em; line-height: 1.5; font-size: 1.1em;}
a:not(:hover) {text-decoration: none;}
@media (max-width: 820px) {
    body {padding: 0 1em;}
    ul {padding-left: 1em;}
    ol {padding-left: 1.2em;}
}

/* color scheme */
body {color: #202020;}
a {color: #1a0dab;}
a:visited {color: #681da8;}
@media (prefers-color-scheme: dark) {
    body {background: #1b1e20; color: #c8c8c8;}
    a {color: #8ab4f8;}
    a:visited {color: #c58af9;}
    img {filter: brightness(.8) contrast(1.2);}
}
